<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
    <style>
        h1 {
            color: #25a7e7;
            text-align: center;
        }
        .receipt-header {
            width: 100%;
        }
        .receipt {
            width: 100%;
        }
        .receipt, .receipt th, .receipt td {
            border: 1px solid #25a7e7;
            border-collapse: collapse;
        }
        .receipt th {
            background-color: #25a7e7;
            color: white;
        }
        .total {
            text-align: right;
        }
    </style>
</head>
<body>
<div>
   <table class="receipt-header">
        <tr>
            <td>
                <table>
                    <tr>
                        <td th:text="${user.name}"></td>
                    </tr>
                    <tr>
                        <td th:text="'Date : ' + ${user.startDate}"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<br />
<table class="receipt">
    <tr>
        <th  style="text-align: center;">3 top</th>
        <th>Price</th>
        <th bgcolor="black">|</th>
        <th style="text-align: center;">3 Tod</th>
        <th style="text-align: center;">6 back</th>
        <th>Price</th>
        <th bgcolor="black">|</th>
        <th style="text-align: center;">2 Top</th>
        <th>Price</th>
        <th bgcolor="black">|</th>
        <th style="text-align: center;">2 under</th>
        <th>Price</th>
    </tr>
    <tr th:each="item, iterStat: ${receiptItems}">
        <td style="text-align: center;" th:text="${iterStat.index + 1}"></td>
        <td th:text="${item.total}"></td>
        <td bgcolor="black"></td>
        <td style="text-align: center;" th:text="${iterStat.index + 1}"></td>
        <td style="text-align: center;" th:text="${iterStat.index + 1}"></td>
        <td th:text="${item.total}"></td>
        <td bgcolor="black"></td>
        <td style="text-align: center;" th:text="${iterStat.index + 1}"></td>
        <td th:text="${item.total}"></td>
        <td bgcolor="black"></td>
        <td style="text-align: center;" th:text="${iterStat.index + 1}"></td>
        <td th:text="${item.total}"></td>
    </tr>
    <tr>
        <td class="total" colspan="1"><b></b></td>
        <td><b th:text="${#aggregates.sum(receiptItems.![total])}"></b></td>
        <td bgcolor="black"></td>
        <td class="total" colspan="2"><b></b></td>
        <td><b th:text="${#aggregates.sum(receiptItems.![total])}"></b></td>
        <td bgcolor="black"></td>
         <td class="total" colspan="1"><b></b></td>
        <td><b th:text="${#aggregates.sum(receiptItems.![total])}"></b></td>
        <td bgcolor="black"></td>
         <td class="total" colspan="1"><b></b></td>
        <td><b th:text="${#aggregates.sum(receiptItems.![total])}"></b></td>
    </tr>
</table>
</body>
</html>